p {
    font-size: 14px;
}
h3 {
    font-size: 14px;
}
div{
    padding: 50px;
}
hr {
    width: 80%;
  }
  li{
    font-size: 14px;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }